.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

}

.shipping-address,
.product-list {
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;

}

.shipping-address h2,
.product-list h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.shipping-address p {
  font-size: 1.5rem;
  color: #555;
  line-height: 1.6;
}

.product-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-list li {
  font-size: 1rem;
  color: #444;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.product-list li:last-child {
  border-bottom: none;
}

.sinproductos {
  font-size: 1rem;
  color: #999;
}

.product-incart{
  color: #000;
}

.order-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.shipping-address,
.product-list {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
}

.total {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #000;
}

.mt-4 {
  margin-top: 1.5rem;
}
.user-info > div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
 }
 
 .user-info img {
  width: 175px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
 }
 
 @media (max-width: 768px) {
  .user-info > div {
    flex-direction: column;
  }
  
  .user-info img {
    margin: 0 auto 10px;
  }
 }
 .subscription-option {
 margin: 20px 0;
 padding: 15px;
 background-color: #eeea0fee;
 color: #000;
}

.subscription-option label {
 display: flex;
 align-items: center;
 gap: 10px;
}

.subscription-option p {
 margin: 0;
 font-size: 1rem;
 font-weight: 500;
}

.subscription-option input[type="checkbox"] {
 width: 18px;
 height: 18px;
}

.shipping-price{
  color: #000;
}