.home-banners img{
border-radius: 10px;
transition: all 0.4s ease;
}
.home-banners img:hover{
    transform: scale(1.01);
    border: solid 1px #FCEE21;
    }

.t-seccion{
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Kode Mono", serif;
    color: white;
    font-size: 32px;

}

.home-type img{
    border-radius: 10px !important;
    object-fit: cover !important;
}
