.home-banners img{
border-radius: 10px;
transition: all 0.4s ease;
}
.home-banners img:hover{
    transform: scale(1.01);
    border: solid 1px #FCEE21;
    }

.t-seccion{
    text-transform: uppercase;
    font-weight: 300;
    font-family: "Kode Mono", serif;
    color: white;
    font-size: 32px;

}

.home-type img{
    border-radius: 10px !important;
    object-fit: cover !important;
}

.divider{
    height: 60px;
}
.horizontal-scrollable {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  .horizontal-scrollable .row {
    flex-wrap: nowrap;
    display: flex;
  }

  .horizontal-scrollable::-webkit-scrollbar {
    
    height: 8px;
  }
  
  .horizontal-scrollable::-webkit-scrollbar-track {
    background: hsla(240, 2%, 37%, 0.2);
    border-radius: 10px;

  }
  
  .horizontal-scrollable::-webkit-scrollbar-thumb {
    background: #5c5c607f;
    border-radius: 10px;
  }
  