*{
    box-sizing: border-box;
}

body{
margin: 0;
font-family:"Kanit", serif;
font-weight: 400;
font-style: normal;
overflow-x: hidden;
background-color: black;
background-attachment: fixed;
background-size: cover;
background-image: url(https://res.cloudinary.com/dr0wlij0c/image/upload/v1736769296/fondo-finalboss-opacity_wgwrxe.png) ;
background-repeat: repeat-y;
background-position: center start;
}

.home-container{
    width: 80%;
    margin: auto;
}


@media(max-width: 992px){
    .container{
        width: 80%;
        margin: auto;
    }
    
  }