body {
    font-family: "Kode Mono", sans-serif;
    background-color: black;
    color:white;
}

.sell-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem; 
}

.title {
    font-size: 2rem;
    text-align: left;
    margin-bottom: 1rem;
}

.subtitle {
    text-align: left;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.__image__ {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    
}

.__details__{
    justify-content:right ;
}

.photo-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.__image_placeholder__ {
    width: 15rem; 
    height: 15rem; 
    background-color:rgb(67, 64, 64);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; 
    margin-bottom: 10px; 
    cursor: pointer;
}

.photo-input {
    display: none;
    width: 50;
}

.plus {
    font-size: 2rem;
    color: white;
}

.upload-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem; 
}

.upload-text {
    margin-bottom: 10px;
    font-size: 1rem;
}

.promote_button {
    background-color: rgb(19, 126, 241);
    border: none;
    color: white;
    padding: 1rem 2rem; 
    border-radius: 8px; 
    cursor: pointer;
    font-size: 1rem;
    margin-right: 1rem;
    transition: transform 0.2s ease;
}


.promote_button:hover {
    background-color: rgb(3, 49, 157);
    transform: scale(1.09);
}

.premium_button {
    background-color: rgba(20, 245, 17, 0.887);
    border: none;
    color: white;
    padding: 1rem 2rem; 
    border-radius: 8px; 
    cursor: pointer;
    font-size: 1rem;
    transition: transform 0.2s ease;
}


.premium_button:hover {
    background-color:green;
    transform: scale(1.09);
}


.__form_section__ {
    background-color: rgba(18, 18, 18, 0.88);
    padding: 2rem; 
    border-radius: 0.5rem; 
}

.__selling_form__ {
    display: flex;
    flex-direction: column;
    gap: 1.5rem; 
}

.__form_data__ {
    display: flex;
    gap: 1.5rem; 
}

.__form_group__ {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 40px; 
}

label {
    font-size: 1rem;
    margin-bottom: 0.5rem; 
}

.__form_data_horizontal__ {
    display: flex;
    gap: 1rem; 
    justify-content: space-between; 
}


.__form_data_horizontal__ .__form_group__{
    flex: 1;
}

input, select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
}

input, select, textarea {
    background-color:rgb(76, 74, 74);
    border: none;
    color: white;
    padding: 1rem; 
    border-radius: 2rem; 
    font-size: 1rem;
}

textarea {
    resize: none;
}

.__price_group__{
    width: 20%;
    ;

}

.__sell_button__ {
    background-color: rgb(240, 228, 5);
    border: none;
    color: black;
    padding: 1rem 2rem; 
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 auto;
    display: block;
    transition: transform 0.2s ease;
}

.__sell_button__:hover {
    background-color: rgb(196, 170, 19);
    justify-content: center;
    transform: scale(1.25);
    
}

input[type="number"] {
    background-color: rgba(6, 87, 239, 0.78); 
    border: none; 
}
